extends ../../layouts/main

block body
    div.flex.justify-center.mt-2
        .btn-group
            a(class="btn", filter="truck_damage", href="/dashboard/history/damages?filter=truck_damage") Truck
            a(class="btn", filter="trailer_damage", href="/dashboard/history/damages?filter=trailer_damage") Trailer
    
    .grid.grid-cols-4.gap-4.p-4
      - let events = query.filter ? user.events.filter(event => event.type === query.filter) : user.events.filter(event => event.type === "truck_damage" || event.type === "trailer_damage");
      for event in events
        .card.w-80.bg-base-100.shadow-xl.m-1.text-primary-content
            .card-body.card-event
                h2.card-title #{event.type === "truck_damage" ? "Truck" : "Trailer"}

                if event.type === "truck_damage"
                    p Vehicle: #{event.data.game.truck.make.name}
                else
                    p Trailer: #{event.data.game.trailer.model.name}
                p Location: #{modules.closestCity(event.data.game.truck.position).realName}
                p Total #{Math.round(event.data.event.current.total * 100)}
                p Damage #{Math.round(event.data.event.current.total * 100) - Math.round(event.data.event.previous.total * 100)}

    if query.filter
        script.
            document.querySelector("a[filter='#{query.filter}']").classList.add("btn-active");