extends ../../layouts/main

block body
    .flex.justify-center.mt-10
      for event in user.events.filter(event => event.type === "delivered")
        if !event.data.game
          .card.w-80.bg-base-100.shadow-xl.m-1.text-primary-content
            .card-body.card-event
              h2.card-title Delivery
              p Revenue: $#{event.data.revenue}
              p Distance: #{event.data.distance.km} km
              p Cargo: #{event.data.cargo.name}
              p From: #{event.data.source.city.name} - #{event.data.source.company.name}
              p To: #{event.data.destination.city.name} - #{event.data.destination.company.name}
              p Date: #{new Date(event.createdAt).toLocaleString()}
        else if event.data.game
          .card.w-80.bg-base-100.shadow-xl.m-1.text-primary-content
            .card-body.card-event
              h2.card-title Delivery
              p Revenue: $#{event.data.event.revenue}
              p Distance: #{event.data.event.distance.km} km
              p Cargo: #{event.data.event.cargo.name}
              p From: #{event.data.event.source.city.name} - #{event.data.event.source.company.name}
              p To: #{event.data.event.destination.city.name} - #{event.data.event.destination.company.name}
              p Date: #{new Date(event.createdAt).toLocaleString()}