<div class="flex justify-center mt-10">
    {{#each user.events}}
        <div class="card w-80 bg-base-100 shadow-xl m-1 text-primary-content">
            <div class="card-body card-event">
                <h2 class="card-title">{{type}}</h2>
                <p>Revenue: ${{data.revenue}}</p>
                <p>Distance: {{data.distance.km}} km</p>
                <p>Cargo: {{data.cargo.name}}</p>
                <p>From: {{data.source.city.name}} - {{data.source.company.name}}</p>
                <p>To: {{data.destination.city.name}} - {{data.destination.company.name}}</p>
            </div>
        </div>
    {{/each}}
</div>

<script>
    document.querySelectorAll(".card-event").forEach(element => {
        const title = element.querySelector(".card-title");
        console.log(title);
        if(title.innerHTML === "delivered") title.innerHTML = "Delivery";
    });
</script>