extends ../../layouts/main

block body
    .card.bg-base-200.shadow-xl.m-4.text-primary-content
        .card-body.card-event
            label.text-center.text-2xl #{vtc.name}
                label.text-xl  (#{modules.capitalizeFirstLetter(vtc.author.username)})
            if vtcData
                .avatar.flex.justify-center
                    div(class="w-40 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2")
                        img(src=vtcData.logo)
            //- h1.text-center Owned by #{vtc.author.username}
            //- if vtc.author.username === user.username
            //-     if !vtc.avatar
            //-         form(action=`/dashboard/vtc/avatar/${vtc.name}`, method="post")
            //-             input(type="file", name="avatar", accept="image/*")
            //-         button(type="submit", onclick="submit") Upload
            //-         script.
            //-             function submit() {
            //-                 const file = document.querySelector("input[type='file']");
            //-             }
            br
            label.text-center.text-xl Members
            br
            div(class="overflow-x-auto flex justify-center p-5 bg-base-100")
                table(class="table w-full")
                    thead
                        tr
                            th
                            th Name
                            th Deliveries
                    tbody()
                        for member in members
                            tr
                                th=members.indexOf(member)
                                th=member.username
                                th=member.events.length